{% extends 'base.html.twig' %}

{% block title %}RestaurantCategory index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Les categories des restaurants</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant_category in restaurant_categories %}
                            <tr>
                                <td>{{ restaurant_category.idCategory }}</td>
                                <td>{{ restaurant_category.categoryName }}</td>
                                <td>
                                    {% if restaurant_category.categoryImage %}
                                        <img src="{{ asset('uploads/' ~ restaurant_category.categoryImage) }}" alt="Category Image" style="max-width: 100px; max-height: 100px;">
                                    {% else %}
                                        No image available
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_restaurant_category_edit', {'id': restaurant_category.idCategory}) }}" class="btn btn-primary">Edit</a>
                                    {% include 'Admin/restaurant_category/_delete_form.html.twig' with {'id': restaurant_category.idCategory} %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_restaurant_category_new') }}" class="btn btn-success">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
