{% extends 'back&front/back.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <header class="bg-primary py-4">
        <div class="container text-center">
            <h1 class="text-light mb-0">Create New Event</h1>
        </div>
    </header>

    <div class="container mt-5">
        <form id="eventForm" method="post" class="row g-3">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-md-6">
                {{ form_label(form.eventName, 'Event Name', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.eventName, {'attr': {'class': 'form-control', 'placeholder': 'Enter event name'}}) }}
                {{ form_errors(form.eventName) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.dateDebut, 'Start Date', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control', 'placeholder': 'Select start date', 'type': 'date'}}) }}
                {{ form_errors(form.dateDebut) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.dateFin, 'End Date', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.dateFin, {'attr': {'class': 'form-control', 'placeholder': 'Select end date', 'type': 'date'}}) }}
                {{ form_errors(form.dateFin) }}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Back to List</a>
            </div>
            {{ form_end(form) }}
        </form>
    </div>

    <footer class="bg-dark text-light py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2024 NiceAdmin. All Rights Reserved</p>
            <p>Designed by <a href="https://bootstrapmade.com/" class="text-light">BootstrapMade</a></p>
        </div>
    </footer>
{% endblock %}
