{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Commande</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>IdCommande</th>
                            <td>{{ commande.idCommande }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ commande.statusCommande }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ commande.prix }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary">Back to list</a>

                    <a href="{{ path('app_commande_edit', {'idCommande': commande.idCommande}) }}" class="btn btn-primary">Edit</a>
                </div>

                {{ include('commande/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
